.branch {

    margin: 20px;
}


.select-branch {
    padding-left: 20px;
    margin: 10px;
}

.google-map .google-map-pic {

    width : 300px;
    height: 500px;
}

.today-special img {

    width: 250px;
    height: auto;

}